
	body
	{
		margin:0px;
		padding:0px;
		font-family: sans-serif; 

		 
	}

	.first
	{
		text-align: center;

	}

	.first h1 
	{
		margin: 0px;
		padding:0px;
		color: orange;
		text-transform: uppercase;
		font-size: 36px;
	}

	.main 
	{
		width: 40%;
		height: 400px;
		background: #fff;
		margin: 0px auto;
		border: 2px solid #fff;
		box-shadow: 0px 15px 40px rgba(0,0,0,0.5);
		border-radius: 0px;
	}

	.main .left 
	{
		float: left;
		width: 50%;
		height: 400px;
		display: inline-block;
		background-size: cover;

		box-sizing:border-box;
		border-radius: 15px 0 0 15px;
	}

	.main .left img
	{
	 display: inline-block;
	 margin: 60px 28px;	
	}


	.main .right
	{
		float: right;
		width: 50%;
		height: 400px;
		box-sizing:border-box;

	}


	.formbox
	{
		width: 100%;
		padding:20px 40px;
		height: 400px;
		
	}

	.formbox p
	{
		margin-left: 8px;
		padding :0px;
		font-weight: bold;
		color:red;

	}

	.formbox input
	{
		margin-bottom: 20px;
	}

	.formbox input[type="text"],
	.formbox input[type="password"]
	{
		border: none;
		border-bottom: 2px solid darkgray;
		width: 75%;
		padding: 7px;
		outline: none;
		font-family: Arial;
		font-size: 20px;
		
	}

	

	.formbox input[type="button"],
	.formbox input[type="submit"]
	{
		margin-left: 40px;
		padding: 10px 40px;
		box-shadow: 0px 8px 20px  rgba(0,0,0,0.5);
		color: black;
		background: orange;
		border-radius: 6px;
		font-weight: bold;

	}

	.formbox input[type="button"]:hover,
	.formbox input[type="submit"]:hover
	
	{
		color: white;
		background: green;
		border-radius: 6px;
		font-weight: bold;
		transition-duration: 0.8s;
	}

	.formbox input[type="text"]:focus,
	.formbox input[type="password"]:focus
	{
		border-bottom: 2px solid indigo;
		transition-duration: 1s;
	}

	.formbox a 
	{
		color:blue;
		text-decoration: none;
		font-size: 15px;
	}

	.formbox a:hover
	{
		font-size: 18px;

	}