 .body
 {
 	margin: 0px;
 	padding: 0px;

 }

 .main 
 {
 	
 	height: 400px;
 	margin: 0px;
 	
 }

 .main .head
 {
 	font-family: Ebrima;
 	color: indigo;
 	margin-top: 25px;
 }

 .main .first
 {
 	float: left;
 	width: 18%;
 	background: none;
 	font-family: Arial;
 	height: 300px;
 	margin: 5px;
 	border: 2px solid darkred;
 	font-family: Arial; 

 
 }

 .main .second
 {
 	float: left;
 	width: 18%;
 	background: none;
	font-family: Arial;
 	height: 300px;
 	margin: 5px;
 	border: 2px solid green;
 }

 .main .third
 {
 	float: left;
 	width: 17%;
 	background: none;
 	font-family: Arial;
 	height: 300px;
 	margin: 5px;
 	border: 2px solid darkorange;
 }

 .main .fourth
 {
 	float: left;
 	width: 17%;
 	background: none;
 	font-family: Arial;
 	height: 300px;
 	margin: 5px;
 	border: 2px solid blue;
 }

 .main .first, .main .second, .main .third, .main .fourth 
 {
 	margin-left: 60px;

 }

 .main input 
 {
 	padding: 10px 20px;
 	font-weight: bold;
 	background: black;
 	color: white;
 	border: none;
 	font-size: 15px;
 	margin-top: 80px;
 }

 .main input:hover
 {
 	padding: 20px 40px;
 	background: gray;
 	border: 2px solid white;
 	transition-duration:1s;
 	font-weight: normal;
 }

 .main .first:hover,
 .main .second:hover,
 .main .third:hover,
 .main .fourth:hover
 {
 	background: #292F41 ;
 	float: left;
 	color: white;
 	border: 2px solid #292F33;
	height: 300px;
 	margin-bottom: 10px;
 	transition-duration: 1.5s;
 	margin-left: 60px;
 	box-shadow: 0 5px 30px 0px;
 
 }